.Header {
    position: fixed;
    width: 100%;
    padding: 32px 0;
    z-index: 100;
}

.HeaderGroup {
    max-width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
}

.Header a {
    color: #333333;
}

@media (max-width: 640px) {
    .Header {
        padding: 40px 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat(3, auto);
    }

    .Header a:nth-child(2) {
        display: none;

    }
}