@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif; 
  margin: 0;
  font-size: 20px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background-color: #fafafa;
}

a {
  color:rgb(0, 122, 255);
  text-decoration: none;
}


.HeroGroup {
margin: 0 auto;
max-width: 630px;
padding: 150px 50px;
}

.Hero h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

.Hero p {
  margin-bottom: 32px;
}

.Hero a {
 font-size: 16px;
 font-weight: 600;
 color: rgb(255, 255, 255);
 background: rgb(0, 122, 255);
 padding: 10px 22px;
 border-radius: 20px;
}